---
interface Props {
  title: string
  description?: string
  class?: string
}

const { title, description, class: className } = Astro.props
---

<article
  class:list={[
    'bg-white shadow-md shadow-black overflow-hidden w-fit rounded-md',
    className,
  ]}
>
  <div class="overflow-hidden">
    <slot name="image" />
  </div>
  <div class="px-4 py-2 text-black">
    <div class="flex gap-2 mb-2 items-end">
      <h3 class="text-3xl font-[Bebas_Neue]">{title}</h3>
      <slot name="after-title" />
    </div>
    <p class="text-sm text-gray-800">{description}</p>
    <slot />
  </div>
  {
    Astro.slots.content && (
      <div class="px-4 pb-2">
        <slot name="content" />
      </div>
    )
  }
  {
    Astro.slots.footer && (
      <div class="px-4 pb-2">
        <slot name="footer" />
      </div>
    )
  }
</article>
