---
interface Props {
  class?: string
}
---

<span
  class:list={[
    'chip py-1 px-3 rounded-full flex gap-2 w-fit items-center text-sm text-slate-300',
    Astro.props.class,
  ]}
>
  <slot />
</span>

<style>
  .chip {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

</style>
