---
import Github from '../icons/Github.astro'
import SocialChip from './SocialChip.astro'
---

<div class="flex gap-2">
  <SocialChip href="https://github.com/SantiagoBarahona"
    ><Github /> GitHub</SocialChip
  >
</div>
