---
import Github from '../icons/Github.astro'
import LinkedIn from '../icons/LinkedIn.astro'
import X from '../icons/X.astro'
import SocialChip from './SocialChip.astro'
---

<div class="flex gap-2">
  <SocialChip href="https://github.com/SantiagoBarahona"
    ><Github /> GitHub</SocialChip
  >
  <SocialChip
    href="https://www.linkedin.com/in/santiago-zapata-barahona-4b489320b/"
    ><LinkedIn /> LinkedIn
  </SocialChip>
  <SocialChip href="https://x.com/UribeEsUnHP"><X /> Twitter</SocialChip>
</div>
