<section class="h-screen bg-emerald-500 m-auto max-w-[1000px]">
    <main class="relative">
        <div class="w-full h-full flex flex-col items-end bg-red-400 ">
            <h1 class="text-4xl">Santiago Zapata Barahona</h1>
            <h2 class="text-3xl">Full stack developer</h2>
            <img src="developer.png" class="object-center object-contain" alt="developer"/>
        </div>
        <div class="left-0 top-8 bg-red-100 absolute w-[500px] h-[500px]">
            <img src="marco-ventana.png" class="w-full h-auto object-center object-contain" alt="marco-ventana"/>
        </div>
    </main>
</section>
