---
import Button from '@components/Button.astro'
import Contacts from '@components/Contacts.astro'
---

<section id="hero" class="text-white flex gap-8">
  <img
    src="/santiago.jpeg"
    alt="Retrato de Santiago Zapata Barahona"
    class="w-[300px] h-[300px] aspect-square rounded-full object-cover object-center shadow-lg shadow-black"
  />
  <div class="w-ƒit h-fit flex flex-col">
    <hgroup>
      <p class="text-zinc-400 text-xl">¡Hola! me llamo</p>
      <h1
        class="text-7xl lg:text-8xl text-blue-600 text-balance font-[Bebas_Neue]"
      >
        Santiago Zapata Barahona
      </h1>
    </hgroup>
    <h2 class="text-4xl mb-8">Full stack developer</h2>
    <Contacts />
    <Button class="mt-8 text-center max-sm:w-full" href="/#about"
      >Conoce más sobre mí</Button
    >
  </div>
</section>
