---
import Navbar from "@components/Navbar.astro";
import "@styles/global.css"

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portafolio de Santiago Zapata Barahona, full stack developer. "
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio - Santiago Zapata Barahona</title>
	</head>
	<body class="antialiased bg-black/90">
		<header>
			<Navbar />
		</header>
		<main class="[&>section]:px-8 [&>section]:md:px-16 [&>section]:py-16 [&>section]:max-w-[1000px] [&>section]:mx-auto ">
			<slot />
		</main>
	</body>
</html>

